/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: rgb(166, 155, 155);
  --secondary-color: rgba(8, 255, 49, 0.851);
  --text-color: white;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}
/*  */

.btn {
  width: 120px;
  height: 70px;
}

/* Game area */

.gameArea {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 15%;
}

.gameboard {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(10, 1fr); */
  width: 600px;
  height: 600px;
  background-color: red;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* stlyes for sqr ship and sunk */

.sqr {
  flex: 1;
  border: 1px solid black;
  background-color: blue;
}

.hasShip {
  background-color: rgb(14, 255, 175);
}

.shot {
  background-color: red;
}

.miss {
  background-color: gray;
}

.gameOver {
  width: 40%;
  height: 40%;
  background-color: var(--secondary-color);

  position: absolute;
  top: 25%;
  left: 30%;

  font-weight: bold;
  font-size: 3rem;
  border-radius: 1.2rem;
  /* center text */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  width: 220px;
  height: 80px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  border-radius: 0.9rem;
  border: none;
  font-size: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.blur {
  filter: blur(8px);
  pointer-events: none;
}
